

         .topView {
          max-width: 300px;
          margin: 0 80px 100px;
         }

         .form-login-container {
          background-image: url();
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-position: 80px 100px;
         }

  	     .form-login {
  	     	max-width: 300px;
  	     	padding: 19px 29px 29px;
  	     	margin: 0px auto 20px;
  	     	background-color: rgba(238,238,238,0.1);
  	     	border: 1px solid rgba(105,8,182,0.17);
  	     	-webkit-border-radius: 5px;
  	     	   -moz-border-radius: 5px;
  	     	        border-radius: 5px;
          -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
             -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                 box-shadow: 0 1px 2px rgba(0,0,0,.05);
  	     }
         .form-login .form-login-heading,
         .form-login .checkbox {
            margin-bottom: 10px;
         }
         .form-login input[type="text"],
         .form-login input[type="password"] {
            font-size: 16px;
            height: auto;
            margin-bottom: 15px;           
            padding: 9px 15px;

         }
         .form-login-heading {
          margin-left: 90px;
         }

         .btn {
          margin-left: 100px;
         }

         